<nav class="navbar navbar-expand-md">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" href="#">
      <h3 class="mb-0 me-2">THAI-COMBAT</h3>
      <img src="/assets/icons/muay-thai.png" alt="Muay Thai Logo" id="thai-logo">
    </a>

    <!-- Hamburger Toggle -->
    <button class="navbar-toggler" type="button" (click)="closeNav()" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Collapse -->
    <div class="collapse navbar-collapse" [class.show]="!isNavbarCollapsed" id="navbarNav">
      <ul class="navbar-nav d-flex mx-auto">
        <li class="nav-item">
          <a class="nav-link" (click)="closeNav()">New in</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" [routerLink]="['/products/category/gloves']" (click)="closeNav()">Gloves</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" [routerLink]="['/products/category/gloves/brand/yokkao']">Yokkao</a></li>
            <li><a class="dropdown-item" [routerLink]="['/products/category/gloves/brand/leone']">Leone</a></li>
            <li><a class="dropdown-item" [routerLink]="['/products/category/gloves/brand/fairtex']">Fairtex</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" [routerLink]="['/products/category/shorts']" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" (click)="closeNav()">Shorts</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" [routerLink]="['/products/category/shorts/brand/yokkao']">Yokkao</a></li>
            <li><a class="dropdown-item" [routerLink]="['/products/category/shorts/brand/leone']">Leone</a></li>
            <li><a class="dropdown-item" [routerLink]="['/products/category/shorts/brand/fairtex']">Fairtex</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" (click)="closeNav()">Sports</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Muay Thai</a></li>
            <li><a class="dropdown-item" href="#">Kickboxing</a></li>
            <li><a class="dropdown-item" href="#">Boxe</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="closeNav()">Deals</a>
        </li>
      </ul>
    </div>

    <!-- Desktop Icons (Hidden on mobile) -->
    <div class="nav-icons gap-4 d-md-flex d-none">
      <a (click)="toogleSearch()"><img src="assets/icons/search-interface-symbol.png" alt="Search"></a>
      <span class="cart-items">0</span>
      <a href="#"><img src="assets/icons/market.png" alt="Cart"></a>
      <a href="#"><img src="assets/icons/user.png" alt="Sign or Register"></a>
    </div>

    <!-- Mobile Menu Icons, Inside Burger Menu -->
    <div class="nav-icons-mobile d-md-none d-flex gap-3">
      <a (click)="toogleSearch()" class="search-icon">
        <img src="assets/icons/search-interface-symbol.png" alt="Search">
      </a>
      <a href="#" class="cart-icon">
        <img src="assets/icons/market.png" alt="Cart">
        <span class="cart-items">0</span>
      </a>
      <a href="#" class="user-icon">
        <img src="assets/icons/user.png" alt="Sign or Register">
      </a>
    </div>
  </div>
</nav>

<!-- Search Bar -->
<div [ngClass]="{'visible': isSearchVisible}" class="search-container d-flex justify-center align-items-center justify-content-between">
  <div class="d-flex gap-2 search-input">
    <a class="search-icon">
      <img src="assets/icons/search-interface-symbol.png" alt="Search">
    </a>
    <input type="text" placeholder="SEARCH FOR..." id="searchInput" #searchInput>
  </div>
  <div>
    <a (click)="toogleSearch()" href="#" class="search-icon">
      <img src="assets/icons/clear.png" alt="Clear">
    </a>
  </div>
</div>
