.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(180deg, #fbc2eb, #a6c1ee);
}

/* Dropdown Menu */
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.dropdown-menu {
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.nav-icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

li {
  font-weight: bold;
}

.navbar-brand img{
  width: 100%;
}

.nav-icons img {
  width: 20px;
  height: 20px;
}

.nav-icons, .nav-icons-mobile {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar-toggler {
  border: 1px solid #ccc; 
  background-color: transparent;
  box-shadow: none;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  border: 1px solid #161515;
  outline: none;
}

.navbar-toggler-icon {
  border: none;
}

.dropdown-item:focus, .dropdown-item:hover {
  background-color: transparent;
  color: inherit;
  border: none;
  font-weight: bold;
}

.search-container{
  border: 1px solid black;
  border-radius: 3px;
  padding: 20px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0s 0.5s;
}

.search-input{
  width: 100%;
}

input{
  width: 100%;
  border: none;
}

.search-input:hover,:focus{
  outline: none;
}

.search-container,input{
  background-color: rgb(255, 255, 255);
}

.search-container img{
  width: 20px;
}

.show {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease-in-out, visibility 0s 0s;
}



/* 700px */
@media (max-width: 700px) {

  .navbar{
    display: flex;
    justify-content: space-between;
  }

  .navbar-expand .navbar-collapse.collapse {
    display: block; 
  }

  .navbar-expand .navbar-toggler {
    display: block; 
  }
}

/* bigger than 700px smaller than 992px */
@media (min-width: 701px) and (max-width: 991px) {
  .navbar-expand .navbar-collapse {
    display: flex !important; 
  }

  .navbar-expand .navbar-toggler {
    display: none; 
  }
}

/* bigger than 992px  */
@media (min-width: 992px) {
  .navbar-expand .navbar-collapse {
    display: flex !important; 
  }

  .navbar-expand .navbar-toggler {
    display: none; 
  }
}


@media (max-width: 767px) {
  .navbar-brand {
    order: 1;
  }

  .navbar-toggler {
    order: 0;
  }

  .nav-icons {
    order: 2;
  }
}


@media (max-width: 767px) {
  .navbar-brand img {
    width: 70%; 
    max-width: 150px;
  }
}

@media (max-width: 480px) {
  .navbar-brand img {
    width: 60%;
    max-width: 120px;
  }
}