* {
    box-sizing: border-box;
}

.main-filter{
align-items: center;
justify-content: center;
border: 1px solid black;
margin-top: 40px;
position: relative;
background-color: #ededed;
}

.main-filter > div{
    border-right: 1px solid black;
    text-align: center;
    padding: 17px;
    box-sizing: border-box;
}

.main-filter > div:last-child{
    border-right: none;
}

.icons{
width: 10%;
}

.icons img{
width: 20px;
margin-right: 9px;
}

.our-products{
    width: 60%;
}

.our-products span{
    margin-left: 100px;
}

.filter{
    width: 15%;
    position: relative;
}

.sort{
    width: 15%;
}

.icons, .filter, .sort{
    cursor: pointer;
}

.arrow {
    margin-left: 10px;
    transition: transform 0.3s ease;
    display: inline-block;
}

.arrow.rotate {
    transform: rotate(180deg);
}

.show-options{
    position: absolute;
    width: 180px;
    top: 50.8%;
    left: 70%;
    background-color: #f5f5f5c4;
    z-index: 10;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

ul li{
    list-style: none;
    cursor: pointer;
}

ul li input{
   margin-right: 3px;
}

ul li:hover{
    color:rgb(22, 155, 199);
}

ul li:focus{
    color:rgb(28, 126, 159);
}

input,label{
    cursor: pointer;
}

.show-filters{
    transition: transform 0.3s ease;
}

@media(max-width: 991px) {
    .main-filter > div{
        border-right: 1px solid black;
        text-align: center;
        box-sizing: border-box;
        padding: 7px;
    }
}


@media(max-width: 766px) {

    .main-filter > div{
        border-right: 1px solid black;
        text-align: center;
        box-sizing: border-box;
        padding: 3px;
    }
    
    .filter{
        width: 40%;
        position: relative;
    }

    .our-products{
        display: none;
    }
    
    .sort{
        width: 40%;
    }

    .icons{
        width: 15%;
    }

    .icons img{
        width: 15px;
    }
}

