<h3 class="mt-5 mb-5">BEST SELLER</h3>

<div class="main-best-seller">
<ngx-slick-carousel class="mb-5 slick-slider" [config]="slideConfig" #slickModal="slick-carousel">
  <div ngxSlickItem *ngFor="let product of bestSellerProducts" class="carousel">
    <div class="product">
      <img [src]="'http://localhost:3000/uploads/products/' + product.category + '/' + product.brand + '/' + product.image_url" 
           class="product-img" alt="Product Image">
      <h5 class="product-title">{{ product.name }}</h5>
      <p class="product-description">{{ product.description }}</p>
      <p class="product-price">{{ product.price | currency }}</p>
      <button class="btn btn-primary">Buy Now</button>
    </div>
  </div>
</ngx-slick-carousel>
</div>
