<h3>KEY FEATURES</h3>

<div class="d-flex key gap-4 scroll-container">
    <div class="details">
        <div>
        <img src="/assets/images/detail1.webp" alt="">
        </div>
        <h5 class="mt-5">HIGH - QUALITY MATERIALS CONSTRUCTION</h5>
        <p>Yokkao gloves are crafted from both premium quality leather and high end microfiber, ensuring durability and resistance to wear and tear from intense training sessions.</p>
    </div>
    <div class="details">
        <div>
        <img src="/assets/images/detail2.webp" alt="">
        </div>
        <h5 class="mt-5">MULTI - LAYER FOAM PADDING</h5>
        <p>The gloves feature a sophisticated multi-layer foam system for optimal shock absorption, protecting your hands and wrists during heavy impacts.</p>
    </div>
    <div class="details">
        <div>
        <img src="/assets/images/detail3.jpg" alt="">
        </div>
        <h5 class="mt-5">ERGONOMIC DESIGN</h5>
        <p>Designed with the fighter's comfort in mind, Yokkao gloves boast an ergonomic shape that conforms to the natural curvature of the hand, providing a snug and secure fit.</p>
    </div>
</div>
