<div class="trust-main container d-flex">
<div class="trust">
    <img src="/assets/icons/delivery-truck (1).png" alt="">
    <h5>FAST & RELIABLE</h5>
    <p>Every Order Shipped Straight from Our Warehouse in Thailand for Speedy Delivery</p>
</div>
<div class="trust">
    <img src="/assets/icons/arrow.png" alt="">
    <h5>PEACE OF MIND SHOPPING</h5>
    <p>Real-Time Order Tracking</p>
</div>
<div class="trust">
    <img src="/assets/icons/user.png" alt="">
    <h5>TOP-NOTCH SUPPORT</h5>
    <p>Enhance Your Shopping Experience with Top-notch Customer Support.</p>
</div>
<div class="trust">
    <img src="/assets/icons/credit-card (1).png" alt="">
    <h5>SECURE PAYMENTS</h5>
    <p>Trustworthy and Reliable Payment Options for a Safe Shopping Experience.</p>
</div>
</div>
