.desc a{
  color: black;
  cursor: pointer;
  text-decoration: underline;
}

.desc a:hover{
  color:darkblue;
}

.desc{
  margin-top: 140px;
}

h5{
font-weight: 500;
font-size: x-large;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
letter-spacing: 6px;
}

p{
  font-weight: 200;
}

main{
  margin-top: 100px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Crea una griglia responsiva */
    gap: 20px;
    justify-items: center;
  }

  .no-products-message {
    text-align: center;
    color: #ff0000; 
    font-size: 1.2rem;
    padding: 20px;
  }