main{
margin-top: 100px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Crea una griglia responsiva */
    gap: 20px;
    justify-items: center;
  }