<div class="muay-thai-course d-flex mt-5">
    <div class="thai-course d-flex">
    <h3>MUAY THAI TRAINING COURSE</h3>
    <p>
      The Muay Thai Training Course is designed to meet the needs and expectations of every level of Muay Thai practitioners - Beginner, Intermediate, and Advanced. Start with the fundamental techniques if you’re a total beginner or refine your skills with the intermediate and advanced levels. The techniques will be taught by some of the greatest legends and current superstars of the sport.
    </p>
    </div>

</div>
  
    <div class="course-options d-flex gap-4">
    <div class="video-yokkao">
      <video src="/assets/videos/video-yokkao.mp4" controls autoplay muted></video>
    </div>
    <div class="sub d-flex">
      <div class="subscription">
        <p>$19.90/MONTH <span>UNLIMITED ACCESS</span></p>
        <p>
          This is a subscription product billed on a monthly basis until you cancel. Cancel anytime from the account management page.
        </p>
        <button><span>ENROLL NOW</span></button>
      </div>
      <div class="subscription">
        <p>$99.90/YEAR <span>UNLIMITED ACCESS</span></p>
        <p>
          This is a subscription product billed on a yearly basis until you cancel. Cancel anytime from the account management page.
        </p>
        <button><span>ENROLL NOW</span></button>
      </div>
    </div>
    </div>
  